body {
  margin: 0;
  background: #76006a url('iii.jpg') repeat;
  background-size: 300px 400px; /* Establece el tamaño en píxeles */
  cursor: crosshair;
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7e0097;
  font-family: "Impact, Charcoal, sans-serif";
  font-size: 3em;
  font-weight: 800;
  -webkit-user-select: none;
  user-select: none;
}

h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-family: "Impact, Charcoal, sans-serif";
  font-size: 5em;
  font-weight: 800;
  -webkit-user-select: none;
  user-select: none;
}

